* {
  box-sizing: border-box; }

h1 {
  font-family: 'Avenir';
  font-weight: bold;
  color: #32BE76; }

#listingDisplay--listings {
  padding-top: 15px; }
  @media only screen and (max-width: 600px) {
    #listingDisplay--listings {
      column-count: 2; } }

.listingsImg {
  border-top-left-radius: 5px !important;
  border-top-right-radius: 5px !important;
  max-width: 100%; }

.cardListStyle {
  border-radius: 5px !important;
  box-shadow: 0px 0px 5px grey;
  margin-bottom: 15px; }
  .cardListStyle:last-child {
    margin-bottom: 0; }

.cardListBodyStyle {
  padding: 5px !important; }

h4 {
  font-family: 'Avenir';
  font-weight: bold; }

h3 {
  font-family: 'Avenir';
  color: #828282;
  font-size: .8em; }

p {
  font-family: 'Avenir';
  font-size: .9em; }

.input-group-text {
  border: none;
  background-color: white; }

.form-control {
  border: none; }

.fa-search {
  color: #828282; }

.fa-times {
  color: red;
  font-size: 1.5em; }

.fa-bars {
  color: #828282;
  font-size: 1.5em; }

#cardImage {
  width: 90vw;
  height: 25vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/frame.jpg");
  background-size: cover;
  background-position: center;
  box-shadow: 0px 0px 5px grey; }

.imageDiv {
  border-radius: 4px;
  padding: 35%; }

.avacadoImg {
  background-image: url("../img/avo.jpg");
  background-position: center;
  background-size: cover; }

.onionImg {
  background-image: url("../img/onion.jpg");
  background-position: center;
  background-size: cover; }

.tomatoImg {
  background-image: url("../img/tommos.jpeg");
  background-position: center;
  background-size: cover; }

.carrotsImg {
  background-image: url("../img/carrots.jpg");
  background-position: center;
  background-size: cover; }

.broccoliImg {
  background-image: url("../img/brocco.jpg");
  background-position: center;
  background-size: cover; }

h5 {
  font-family: 'Avenir';
  color: #828282; }

.active {
  color: black !important;
  font-weight: bold; }

#navCard {
  border: none;
  box-shadow: 0px 0px 5px grey; }

li {
  font-family: 'Avenir';
  color: #828282;
  font-size: .8em; }

.list-group-item {
  border: none; }

#addNewListing {
  width: 10vw;
  height: 5.5vh;
  border-radius: 50%;
  background-color: #32BE76 !important;
  box-shadow: 0px 0px 8px #2d3436;
  z-index: 5;
  position: fixed;
  bottom: 20px;
  right: 20px; }

.fa-plus {
  color: white; }

.modal-header {
  border: none; }
  .modal-header h1 {
    font-size: 2em; }

.modal-footer {
  border-top: none; }

.btn-success {
  border-color: #32BE76;
  background-color: #32BE76; }

#exampleModal {
  margin-top: 12vh; }

.active {
  color: black !important;
  font-weight: bold; }

#navCard {
  border: none;
  box-shadow: 0px 0px 5px grey; }

.card {
  border: none !important; }

.guest {
  font-family: 'Avenir';
  font-weight: bold;
  color: #32BE76; }

#signInHere {
  font-family: 'Avenir';
  font-weight: bold;
  color: #32BE76; }

#signUpHere {
  font-family: 'Avenir';
  font-weight: bold;
  color: #32BE76; }

#commentsCard #commentBody {
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 5px; }

#loginCard {
  width: 100vw;
  height: 100vh;
  background-image: url("../img/vege.jpeg");
  background-repeat: no-repeat;
  background-size: cover; }
  #loginCard #gradient {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to top, rgba(255, 255, 255, 0.6), white); }

.contents {
  width: 100vw;
  height: 100vh; }
  .contents h1 {
    margin-top: 10vh; }
  .contents .card {
    box-shadow: 0px 0px 5px grey;
    border-radius: 10px; }
    .contents .card .btn {
      width: 60%;
      border-radius: 10px;
      font-family: 'Avenir';
      font-weight: 500;
      color: white;
      letter-spacing: 0.5px; }
    .contents .card .loginLink {
      font-size: 13px; }
      .contents .card .loginLink a {
        font-family: 'Avenir';
        font-weight: bold;
        color: #32BE76; }

@media only screen and (min-width: 400px) {
  .ml-1 {
    margin-left: .5rem !important; } }
@media only screen and (min-width: 600px) {
  #addNewListing {
    width: 8vw;
    height: 5vh; }

  #cardImage {
    width: 100% !important;
    height: 30vh; }

  h1 {
    font-size: 3.5em; }

  .container {
    max-width: 1400px; }

  .cardStyle {
    width: 28rem !important; } }
@media only screen and (min-width: 800px) {
  #addNewListing {
    width: 8vw;
    height: 7vh; }

  .cardStyle {
    width: 28rem !important; } }
@media only screen and (min-width: 1000px) {
  .cardStyle {
    width: 35rem !important; } }
@media only screen and (min-width: 1200px) {
  .cardStyle {
    width: 42rem !important; }
    .cardStyle form ::placeholder {
      font-size: 20px; } }

/*# sourceMappingURL=style.css.map */
