@media only screen and (min-width: 400px) {

  // Annie codes under Here




  // Larissa codes under Here


  .ml-1 {
    margin-left: .5rem !important;
  }


  // Katherine codes under here
}

@media only screen and (min-width: 600px) {

  // Annie codes under Here




  // Larissa codes under Here
  #addNewListing{
    width: 8vw;
    height: 5vh;
  }

  #cardImage{
    width: 100% !important;
    height: 30vh;
  }

  h1 {
    font-size: 3.5em;
  }

  .container {
    max-width: 1400px;
  }

  .fa-search {
    font-size: 20px;
  }
  // Katherine codes under here
  .cardStyle {
    width: 28rem !important;
  }

  h4 {
    font-size: 2rem;
  }

  p {
    font-size: 1.3em;
  }

  .fa-bars {
    font-size: 1.8em;
  }

  .fa-times {
    font-size: 1.8em;
  }

}

@media only screen and (min-width: 800px) {

  // Annie codes under Here




  // Larissa codes under Here

  #addNewListing{
    width: 8vw;
    height: 7vh;
  }


  // Katherine codes under here
  .cardStyle {
    width: 28rem !important;
  }

  h4 {
    font-size: 2.5rem;
  }

  p {
    font-size: 1.6em;
  }

  h1 {
    font-size: 3.9em;
  }

  .fa-bars {
    font-size: 1.9em;
  }

  .fa-times {
    font-size: 1.9em;
  }

  .fa-search {
    font-size: 23px;
  }

  .searchForm{
    .form-control{
      ::placeholder{
        font-size: 41px !important;
      }
    }
  }

}

@media only screen and (min-width: 900px) {

  // Annie codes under Here




  // Larissa codes under Here

  #addNewListing{
    width: 8vw;
    height: 7vh;
  }


  // Katherine codes under here
  .cardStyle {
    width: 28rem !important;
  }

  h4 {
    font-size: 2.7rem;
  }

  p {
    font-size: 1.8em;
  }

  .imageDiv {
    padding: 27%;
  }

  h1 {
    font-size: 4em;
  }

  .fa-bars {
    font-size: 2.3em;
  }

  .fa-times {
    font-size: 2.3em;
  }

  .fa-search {
    font-size: 26px;
  }
}

@media only screen and (min-width: 1000px) {

  // Annie codes under Here




  // Larissa codes under Here




  // Katherine codes under here
  .cardStyle {
    width: 35rem !important;
  }

  #cardImage {
    height: 35vh;
  }

  h1 {
    font-size: 4.3em;
  }

  .fa-bars {
    font-size: 2.3em;
  }

  .fa-times {
    font-size: 2.3em;
  }
}

@media only screen and (min-width: 1200px) {

  // Annie codes under Here




  // Larissa codes under Here




  // Katherine codes under here
  .cardStyle {
    width: 42rem !important;

    form {
      ::placeholder {
        font-size: 20px;
      }
    }
  }

  h1 {
    font-size: 5em;
  }

  h4 {
    font-size: 3.5rem;
  }

  p {
    font-size: 2em;
  }

  #cardImage {
    height: 40vh;
  }

  .fa-bars {
    font-size: 2.6em;
  }

  .fa-times {
    font-size: 2.6em;
  }

  .fa-search {
    font-size: 29px;
  }
}
