@media only screen and (min-width: 400px) {

  // Annie codes under Here




  // Larissa codes under Here


  .ml-1 {
    margin-left: .5rem !important;
  }


  // Katherine codes under here

}

@media only screen and (min-width: 600px) {

  // Annie codes under Here




  // Larissa codes under Here
  #addNewListing{
    width: 8vw;
    height: 5vh;
  }

  #cardImage{
    width: 100% !important;
    height: 30vh;
  }

  h1 {
    font-size: 3.5em;
  }

  .container {
    max-width: 1400px;
  }



  // Katherine codes under here
  .cardStyle {
    width: 28rem !important;
  }
}

@media only screen and (min-width: 800px) {

  // Annie codes under Here




  // Larissa codes under Here

  #addNewListing{
    width: 8vw;
    height: 7vh;
  }


  // Katherine codes under here
  .cardStyle {
    width: 28rem !important;
  }
}

@media only screen and (min-width: 1000px) {

  // Annie codes under Here




  // Larissa codes under Here




  // Katherine codes under here
  .cardStyle {
    width: 35rem !important;
  }
}

@media only screen and (min-width: 1200px) {

  // Annie codes under Here




  // Larissa codes under Here




  // Katherine codes under here
  .cardStyle {
    width: 42rem !important;

    form {
      ::placeholder {
        font-size: 20px;
      }
    }
  }
}
