* {
  box-sizing: border-box;
}


//Shared Styles
h1 {
 font-family:'Avenir LT W01 95 Black';
 color: #32BE76;
}



// Annie Codes Under Here









// Larissa Codes Under Here

.container {
  background-image: url("vegetables.jpeg");
}







// Katherine Codes Under Here
