* {
  box-sizing: border-box;
}


//Shared Styles
h1 {
 font-family:'Avenir LT W01 95 Black';
 color: #30BE76;
}



// Annie Codes Under Here









// Larissa Codes Under Here

.container {
  width: 100vw;
  height: 100vh;
  background-image: url("../images/vegetables.jpeg");
}







// Katherine Codes Under Here
